<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/static/app.css" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta id="labelDict" data-name="{{ labelDict }}">
    <meta id="results" data-name="{{ results }}">
    <meta id="picName" data-name="{{ picName }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">


    <script type="text/javascript">
        function picChange(evt) {
            //bring selected photo in
            //get files captured through input
            var fileInput = evt.target.files;
            if (fileInput.length > 0) {
                //get the file
                //window url
                var windowURL = window.URL || window.webkitURL;
                //picture url
                var picURL = windowURL.createObjectURL(fileInput[0]);
                //get canvas
                var photoCanvas = document.getElementById("capturedPhoto");
                var ctx = photoCanvas.getContext("2d");
                //create image
                var photo = new Image();
                photo.onload = function () {
                    //draw photo into canvas when ready
                    ctx.drawImage(photo, 0, 0, 500, 400);
                };
                //load photo into canvas
                photo.src = picURL;
                //release object url
                windowURL.revokeObjectURL(picURL);
            }
        }
        

    </script>
    <title>方子智能</title>
</head>

<body>
    <hr>

    <div class="input-group mb-3 upload-box">
        <h3>方子智能 舌诊demo</h3>
        <hr>
{#        <p>Choose a tongue picture from your device or capture one with your camera:</p>#}
        <p><i>请从相册选择或拍照上传您的照片：</i></p>
        <hr>
        <form action="/" method="post" enctype="multipart/form-data">
            <div class="custom-file">
                <input class="custom-file-input" id="upload" type="file" name="file" accept="image/*" onchange="picChange(event)" />
                <label class="custom-file-label" for="upload">{{ picName }}</label>
            </div>
            <hr>
            <div class="input-group-append">
                 <input class="btn btn-light" type="submit" name="Upload">
                <button class="btn btn-light" type="button" onclick="myfunction()">进入问诊</button>
            </div>
            <div class="input-group-append">

            </div>
        </form>
    </div>

    <div class="upload-box">
        <canvas id="capturedPhoto" width="500" height="400" class="img-fluid"></canvas>
    </div>
    <div class="diagnosis-list">
        <ul class="list-group">

            {% for num in results[0] %} {% if (num != results[0]|max) %}
            <li class="list-group-item disabled">{{ labelDict[0][loop.index0] }}<!--(概率:{{ results[0][loop.index0] }})--></li>
            {% else %}
            <li class="list-group-item active">{{ labelDict[0][loop.index0] }}<!--(概率:{{ results[0][loop.index0] }})--></li>
            {% endif %} {% endfor %}
        </ul>

        <ul class="list-group">

            {% for num in results[1] %} {% if (num != results[1]|max) %}
            <li class="list-group-item disabled">{{ labelDict[1][loop.index0] }}<!--(概率:{{ results[1][loop.index0] }})--></li>
            {% else %}
            <li class="list-group-item active">{{ labelDict[1][loop.index0] }}<!--(概率:{{ results[1][loop.index0] }})--></li>
            {% endif %} {% endfor %}
        </ul>

        <ul class="list-group">

            {% for num in results[2] %} {% if (num != results[2]|max) %}
            <li class="list-group-item disabled">{{ labelDict[2][loop.index0] }}<!--(概率:{{ results[2][loop.index0] }})--></li>
            {% else %}
            <li class="list-group-item active">{{ labelDict[2][loop.index0] }}<!--(概率:{{ results[2][loop.index0] }})--></li>
            {% endif %} {% endfor %}
        </ul>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/jquery-3.2.1.slim.min.js"></script>
    <script src="/static/popper.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script>
        var context = document.getElementById('capturedPhoto').getContext("2d");
        var img = new Image();
        img.onload = function () {
            context.drawImage(img, 0, 0, 500, 400);
        };
        {#img.src = "images/st.jpg";#}
        img.src = "images/" + document.getElementsByClassName("custom-file-label")[0].innerText;
    </script>
    <script>
        var myVar;

        function myfunction() {
            var labelDict = $('#labelDict').data()["name"];
            var results = $('#results').data()["name"];
            var picName = $('#picName').data()["name"];

            console.log(labelDict, results, picName);
            //myVar = setTimeout(redirect, 3000);
            }
        function redirect() {
            window.location.href = "http://47.104.164.104:8080/FangZiZhiNeng/?td=舌色紫,是,舌苔白,是,有齿痕,不是";
        }
    </script>
</body>

</html>